In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('C:\\tfs\\trainings\\Spark\\ActiveProject\\RFM\\data')

## STEP 1.数据概览

In [3]:
df = pd.read_excel('PYTHON-RFM实战数据.xlsx')
df.head()

,品牌名称,买家昵称,付款日期,订单状态,实付金额,邮费,省份,城市,购买数量
0,数据不吹牛,叫我李2,2019-01-01 00:17:59,交易成功,186,6,上海,上海市,1
1,数据不吹牛,0cyb1992,2019-01-01 00:59:54,交易成功,145,0,广东省,广州市,1
2,数据不吹牛,萝污萌莉,2019-01-01 07:48:48,交易成功,194,8,山东省,东营市,1
3,数据不吹牛,atblovemyy,2019-01-01 09:15:49,付款以后用户退款成功，交易自动关闭,84,0,江苏省,镇江市,1
4,数据不吹牛,小星期鱼,2019-01-01 09:59:33,付款以后用户退款成功，交易自动关闭,74,0,上海,上海市,1

#### 查看交易状态

In [4]:
df['订单状态'].unique()

array(['交易成功', '付款以后用户退款成功，交易自动关闭'], dtype=object)

#### 查看数据类型

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28833 entries, 0 to 28832
Data columns (total 9 columns):
品牌名称    28833 non-null object
买家昵称    28833 non-null object
付款日期    28833 non-null datetime64[ns]
订单状态    28833 non-null object
实付金额    28833 non-null int64
邮费      28833 non-null int64
省份      28833 non-null object
城市      28832 non-null object
购买数量    28833 non-null int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 2.0+ MB

## STEP 2.数据清洗

#### 剔除退款

In [7]:
df = df.loc[df['订单状态'] == '交易成功',:]
print('剔除退款后还剩:%d行' % len(df))

剔除退款后还剩:27793行

#### 关键字段提取

In [8]:
df = df[['买家昵称','付款日期','实付金额']]
df.head()

       买家昵称                付款日期  实付金额
0      叫我李2 2019-01-01 00:17:59   186
1  0cyb1992 2019-01-01 00:59:54   145
2      萝污萌莉 2019-01-01 07:48:48   194
5       重碎叠 2019-01-01 10:00:07   197
6  iho_jann 2019-01-01 10:00:08   168

#### R值构造

In [9]:
r = df.groupby('买家昵称')['付款日期'].max().reset_index()
r.head()

         买家昵称                    付款日期
0   .blue_ram 2019-02-04 17:49:34.000
1  .christiny 2019-01-29 14:17:15.000
2     .willn1 2019-01-11 03:46:18.000
3        .托托m 2019-01-11 02:26:33.000
4       0000妮 2019-06-28 16:53:26.458

In [10]:
r['R'] = (pd.to_datetime('2019-7-1') - r['付款日期']).dt.days
r = r[['买家昵称','R']]
r.head()

         买家昵称    R
0   .blue_ram  146
1  .christiny  152
2     .willn1  170
3        .托托m  170
4       0000妮    2

#### F值构造

In [14]:
#引入日期标签辅助列
df['日期标签'] = df['付款日期'].astype(str).str[:10]

#把单个用户一天内订单合并
dup_f = df.groupby(['买家昵称','日期标签'])['付款日期'].count().reset_index()
dup_f.head()

         买家昵称        日期标签  付款日期
0   .blue_ram  2019-02-04     1
1  .christiny  2019-01-29     1
2     .willn1  2019-01-11     1
3        .托托m  2019-01-11     1
4       0000妮  2019-06-28     1

In [15]:
#对合并后的用户统计频次
f = dup_f.groupby('买家昵称')['付款日期'].count().reset_index()
f.columns = ['买家昵称','F']
f.head()

         买家昵称  F
0   .blue_ram  1
1  .christiny  1
2     .willn1  1
3        .托托m  1
4       0000妮  1

#### M值构造

In [17]:
sum_m = df.groupby('买家昵称')['实付金额'].sum().reset_index()
sum_m.columns = ['买家昵称','总支付金额']
com_m = pd.merge(sum_m,f,left_on = '买家昵称',right_on = '买家昵称',how = 'inner')

#计算用户平均支付金额
com_m['M'] = com_m['总支付金额'] / com_m['F']
com_m.head()

         买家昵称  总支付金额  F      M
0   .blue_ram     49  1   49.0
1  .christiny    183  1  183.0
2     .willn1     34  1   34.0
3        .托托m     37  1   37.0
4       0000妮    164  1  164.0

#### 三个值合并

In [18]:
rfm = pd.merge(r,com_m,left_on = '买家昵称',right_on = '买家昵称',how = 'inner')
rfm = rfm[['买家昵称','R','F','M']]
rfm.head()

         买家昵称    R  F      M
0   .blue_ram  146  1   49.0
1  .christiny  152  1  183.0
2     .willn1  170  1   34.0
3        .托托m  170  1   37.0
4       0000妮    2  1  164.0

## STEP 3.维度确认（不涉及代码故省略）

## STEP 4.分值计算

#### R值计算

In [19]:
rfm['R-SCORE'] = pd.cut(rfm['R'],bins = [0,30,60,90,120,1000000],labels = [5,4,3,2,1],right = False).astype(float)
rfm.head()

         买家昵称    R  F      M  R-SCORE
0   .blue_ram  146  1   49.0      1.0
1  .christiny  152  1  183.0      1.0
2     .willn1  170  1   34.0      1.0
3        .托托m  170  1   37.0      1.0
4       0000妮    2  1  164.0      5.0

#### F、M值计算

In [20]:
rfm['F-SCORE'] = pd.cut(rfm['F'],bins = [1,2,3,4,5,1000000],labels = [1,2,3,4,5],right = False).astype(float)
rfm['M-SCORE'] = pd.cut(rfm['M'],bins = [0,50,100,150,200,1000000],labels = [1,2,3,4,5],right = False).astype(float)
rfm.head()

         买家昵称    R  F      M  R-SCORE  F-SCORE  M-SCORE
0   .blue_ram  146  1   49.0      1.0      1.0      1.0
1  .christiny  152  1  183.0      1.0      1.0      4.0
2     .willn1  170  1   34.0      1.0      1.0      1.0
3        .托托m  170  1   37.0      1.0      1.0      1.0
4       0000妮    2  1  164.0      5.0      1.0      4.0

#### 和平均值对比，减少客户分类数量

In [21]:
rfm['R是否大于均值'] = (rfm['R-SCORE'] > rfm['R-SCORE'].mean()) * 1
rfm['F是否大于均值'] = (rfm['F-SCORE'] > rfm['F-SCORE'].mean()) * 1
rfm['M是否大于均值'] = (rfm['M-SCORE'] > rfm['M-SCORE'].mean()) * 1
rfm.head()

,买家昵称,R,F,M,R-SCORE,F-SCORE,M-SCORE,R是否大于均值,F是否大于均值,M是否大于均值
0,.blue_ram,146,1,49.0,1.0,1.0,1.0,0,0,0
1,.christiny,152,1,183.0,1.0,1.0,4.0,0,0,1
2,.willn1,170,1,34.0,1.0,1.0,1.0,0,0,0
3,.托托m,170,1,37.0,1.0,1.0,1.0,0,0,0
4,0000妮,2,1,164.0,5.0,1.0,4.0,1,0,1

## STEP 5.客户分层

#### 构建合并指标

In [22]:
rfm['人群数值'] = (rfm['R是否大于均值'] * 100) + (rfm['F是否大于均值'] * 10) + (rfm['M是否大于均值'] * 1)
rfm.head()

,买家昵称,R,F,M,R-SCORE,F-SCORE,M-SCORE,R是否大于均值,F是否大于均值,M是否大于均值,人群数值
0,.blue_ram,146,1,49.0,1.0,1.0,1.0,0,0,0,0
1,.christiny,152,1,183.0,1.0,1.0,4.0,0,0,1,1
2,.willn1,170,1,34.0,1.0,1.0,1.0,0,0,0,0
3,.托托m,170,1,37.0,1.0,1.0,1.0,0,0,0,0
4,0000妮,2,1,164.0,5.0,1.0,4.0,1,0,1,101

#### 基于指标给客户打标签

In [23]:
#判断R/F/M是否大于均值
def transform_label(x):
    if x == 111:
        label = '重要价值客户'
    elif x == 110:
        label = '消费潜力客户'
    elif x == 101:
        label = '频次深耕客户'
    elif x == 100:
        label = '新客户'
    elif x == 11:
        label = '重要价值流失预警客户'
    elif x == 10:
        label = '一般客户'
    elif x == 1:
        label = '高消费唤回客户'
    elif x == 0:
        label = '流失客户'
    return label

#### 标签应用

In [24]:
rfm['人群类型'] = rfm['人群数值'].apply(transform_label)
rfm.head()

,买家昵称,R,F,M,R-SCORE,F-SCORE,M-SCORE,R是否大于均值,F是否大于均值,M是否大于均值,人群数值,人群类型
0,.blue_ram,146,1,49.0,1.0,1.0,1.0,0,0,0,0,流失客户
1,.christiny,152,1,183.0,1.0,1.0,4.0,0,0,1,1,高消费唤回客户
2,.willn1,170,1,34.0,1.0,1.0,1.0,0,0,0,0,流失客户
3,.托托m,170,1,37.0,1.0,1.0,1.0,0,0,0,0,流失客户
4,0000妮,2,1,164.0,5.0,1.0,4.0,1,0,1,101,频次深耕客户

#### 人数统计

In [25]:
count = rfm['人群类型'].value_counts().reset_index()
count.columns = ['客户类型','人数']
count['人数占比'] = count['人数'] / count['人数'].sum()
count

         客户类型    人数      人数占比
0     高消费唤回客户  7338  0.288670
1        流失客户  6680  0.262785
2      频次深耕客户  5427  0.213493
3         新客户  4224  0.166168
4      重要价值客户   756  0.029740
5      消费潜力客户   450  0.017703
6  重要价值流失预警客户   360  0.014162
7        一般客户   185  0.007278

#### 金额统计

In [30]:
rfm['购买总金额'] = rfm['F'] * rfm['M']
rfm

,买家昵称,R,F,M,R-SCORE,F-SCORE,M-SCORE,R是否大于均值,F是否大于均值,M是否大于均值,人群数值,人群类型,购买总金额
0,.blue_ram,146,1,49.0,1.0,1.0,1.0,0,0,0,0,流失客户,49.0
1,.christiny,152,1,183.0,1.0,1.0,4.0,0,0,1,1,高消费唤回客户,183.0
2,.willn1,170,1,34.0,1.0,1.0,1.0,0,0,0,0,流失客户,34.0
3,.托托m,170,1,37.0,1.0,1.0,1.0,0,0,0,0,流失客户,37.0
4,0000妮,2,1,164.0,5.0,1.0,4.0,1,0,1,101,频次深耕客户,164.0
5,0009797王,127,1,94.0,1.0,1.0,2.0,0,0,0,0,流失客户,94.0
6,000xyx0,73,1,99.0,3.0,1.0,2.0,1,0,0,100,新客户,99.0
7,000米粒儿米粒0,148,1,170.0,1.0,1.0,4.0,0,0,1,1,高消费唤回客户,170.0
8,00556旭79618,157,1,159.0,1.0,1.0,4.0,0,0,1,1,高消费唤回客户,159.0
9,00不哭0,159,1,53.0,1.0,1.0,2.0,0,0,0,0,流失客户,53.0
10,00青0,159,2,160.5,1.0,2.0,4.0,0,1,1,11,重要价值流失预警客户,321.0
11,02000小轩3,133,1,230.0,1.0,1.0,5.0,0,0,1,1,高消费唤回客户,230.0
12,02弄,133,1,89.0,1.0,1.0,2.0,0,0,0,0,流失客户,89.0
13,05019050a,8,1,72.0,5.0,1.0,2.0,1,0,0,100,新客户,72.0
14,055等0,72,1,123.0,3.0,1.0,3.0,1,0,1,101,频次深耕客户,123.0
15,0839576292彩0,79,1,188.0,3.0,1.0,4.0,1,0,1,101,频次深耕客户,188.0
16,0a151898605,33,1,94.0,4.0,1.0,2.0,1,0,0,100,新客户,94.0
17,0a182001297,52,1,202.0,4.0,1.0,5.0,1,0,1,101,频次深耕客户,202.0
18,0a72601,131,1,87.0,1.0,1.0,2.0,0,0,0,0,流失客户,87.0
19,0aax06,7,1,89.0,5.0,1.0,2.0,1,0,0,100,新客户,89.0
20,0abao1000,6,1,265.0,5.0,1.0,5.0,1,0,1,101,频次深耕客户,265.0
21,0abby心心29,6,1,67.0,5.0,1.0,2.0,1,0,0,100,新客户,67.0
22,0aberdee5,62,2,114.5,3.0,2.0,3.0,1,1,1,111,重要价值客户,229.0
23,0ada3,12,1,125.0,5.0,1.0,3.0,1,0,1,101,频次深耕客户,125.0
24,0adachen9,155,1,111.0,1.0,1.0,3.0,0,0,1,1,高消费唤回客户,111.0
25,0adi9,13,1,57.0,5.0,1.0,2.0,1,0,0,100,新客户,57.0
26,0ailihui01,133,1,272.0,1.0,1.0,5.0,0,0,1,1,高消费唤回客户,272.0
27,0ailu0,32,2,149.5,4.0,2.0,3.0,1,1,1,111,重要价值客户,299.0
28,0aimeigirl29,159,1,73.0,1.0,1.0,2.0,0,0,0,0,流失客户,73.0
29,0aks8,12,1,43.0,5.0,1.0,1.0,1,0,0,100,新客户,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25390,黑一羊,106,1,68.0,2.0,1.0,2.0,0,0,0,0,流失客户,68.0
25391,黑倾城裙,141,1,227.0,1.0,1.0,5.0,0,0,1,1,高消费唤回客户,227.0
25392,黑最黑色,67,1,99.0,3.0,1.0,2.0,1,0,0,100,新客户,99.0
25393,黑爱摄影爷,167,1,204.0,1.0,1.0,5.0,0,0,1,1,高消费唤回客户,204.0
25394,黑纯白v暗,102,1,123.0,2.0,1.0,3.0,0,0,1,1,高消费唤回客户,123.0
25395,黑耐猪,155,1,163.0,1.0,1.0,4.0,0,0,1,1,高消费唤回客户,163.0
25396,黑记得我皮,34,1,136.0,4.0,1.0,3.0,1,0,1,101,频次深耕客户,136.0
25397,黔芳,133,1,87.0,1.0,1.0,2.0,0,0,0,0,流失客户,87.0
25398,默cy沫,53,1,89.0,4.0,1.0,2.0,1,0,0,100,新客户,89.0
25399,默啊飞默,91,1,94.0,2.0,1.0,2.0,0,0,0,0,流失客户,94.0
25400,默胡默,170,1,79.0,1.0,1.0,2.0,0,0,0,0,流失客户,79.0
25401,默默,170,1,87.0,1.0,1.0,2.0,0,0,0,0,流失客户,87.0
25402,黛zhenai拉,92,1,94.0,2.0,1.0,2.0,0,0,0,0,流失客户,94.0
25403,黛玛丽,71,1,104.0,3.0,1.0,3.0,1,0,1,101,频次深耕客户,104.0
25404,鼠花,131,1,110.0,1.0,1.0,3.0,0,0,1,1,高消费唤回客户,110.0
25405,鼠飞张,132,1,40.0,1.0,1.0,1.0,0,0,0,0,流失客户,40.0
25406,鼻小子,14,2,33.0,5.0,2.0,1.0,1,1,0,110,消费潜力客户,66.0
25407,齐南丹,24,1,254.0,5.0,1.0,5.0,1,0,1,101,频次深耕客户,254.0
25408,齐奇奇七,148,1,68.0,1.0,1.0,2.0,0,0,0,0,流失客户,68.0
25409,齿树笕,133,1,31.0,1.0,1.0,1.0,0,0,0,0,流失客户,31.0
25410,龙senorita女,14,2,208.5,5.0,2.0,5.0,1,1,1,111,重要价值客户,417.0
25411,龙叮眼,53,1,57.0,4.0,1.0,2.0,1,0,0,100,新客户,57.0
25412,龙城,133,1,52.0,1.0,1.0,2.0,0,0,0,0,流失客户,52.0
25413,龙小鱼潭,170,1,50.0,1.0,1.0,2.0,0,0,0,0,流失客户,50.0
25414,龙温暖猫,165,1,63.0,1.0,1.0,2.0,0,0,0,0,流失客户,63.0
25415,龙火师,84,1,175.0,3.0,1.0,4.0,1,0,1,101,频次深耕客户,175.0
25416,龙魔鬼女,72,1,87.0,3.0,1.0,2.0,1,0,0,100,新客户,87.0
25417,龟mil宝,11,2,248.5,5.0,2.0,5.0,1,1,1,111,重要价值客户,497.0
25418,！谢鹏逗逼？,24,1,137.0,5.0,1.0,3.0,1,0,1,101,频次深耕客户,137.0
25419,～小邱～,158,1,185.0,1.0,1.0,4.0,0,0,1,1,高消费唤回客户,185.0

In [31]:
mon = rfm.groupby('人群类型')['购买总金额'].sum().reset_index()
mon.columns = ['客户类型','消费金额']
mon

         客户类型       消费金额
0        一般客户    25803.0
1         新客户   270869.0
2        流失客户   444617.0
3      消费潜力客户    64075.0
4      重要价值客户   269230.0
5  重要价值流失预警客户   116665.0
6      频次深耕客户   981893.0
7     高消费唤回客户  1338153.0

In [32]:
mon['金额占比'] = mon['消费金额'] / mon['消费金额'].sum()
mon

         客户类型       消费金额      金额占比
0        一般客户    25803.0  0.007349
1         新客户   270869.0  0.077142
2        流失客户   444617.0  0.126624
3      消费潜力客户    64075.0  0.018248
4      重要价值客户   269230.0  0.076675
5  重要价值流失预警客户   116665.0  0.033226
6      频次深耕客户   981893.0  0.279638
7     高消费唤回客户  1338153.0  0.381098

In [33]:
result = pd.merge(count,mon,left_on = '客户类型',right_on = '客户类型')
result

         客户类型    人数      人数占比       消费金额      金额占比
0     高消费唤回客户  7338  0.288670  1338153.0  0.381098
1        流失客户  6680  0.262785   444617.0  0.126624
2      频次深耕客户  5427  0.213493   981893.0  0.279638
3         新客户  4224  0.166168   270869.0  0.077142
4      重要价值客户   756  0.029740   269230.0  0.076675
5      消费潜力客户   450  0.017703    64075.0  0.018248
6  重要价值流失预警客户   360  0.014162   116665.0  0.033226
7        一般客户   185  0.007278    25803.0  0.007349

## 模型封装，一个回车就能返回结果

In [28]:
#输入源数据文件名
def get_rfm(name = 'PYTHON-RFM实战数据.xlsx'):
    df = pd.read_excel(name)
    df = df.loc[df['订单状态'] == '交易成功',:]
    print('剔除退款后还剩:%d行' % len(df))
    df = df[['买家昵称','付款日期','实付金额']]

    r = df.groupby('买家昵称')['付款日期'].max().reset_index()
    r['R'] = (pd.to_datetime('2019-7-1') - r['付款日期']).dt.days
    r = r[['买家昵称','R']]

    #引入日期标签辅助列
    df['日期标签'] = df['付款日期'].astype(str).str[:10]

    #把单个用户一天内订单合并
    dup_f = df.groupby(['买家昵称','日期标签'])['付款日期'].count().reset_index()

    #对合并后的用户统计频次
    f = dup_f.groupby('买家昵称')['付款日期'].count().reset_index()
    f.columns = ['买家昵称','F']

    sum_m = df.groupby('买家昵称')['实付金额'].sum().reset_index()
    sum_m.columns = ['买家昵称','总支付金额']
    com_m = pd.merge(sum_m,f,left_on = '买家昵称',right_on = '买家昵称',how = 'inner')

    #计算用户平均支付金额
    com_m['M'] = com_m['总支付金额'] / com_m['F']

    rfm = pd.merge(r,com_m,left_on = '买家昵称',right_on = '买家昵称',how = 'inner')
    rfm = rfm[['买家昵称','R','F','M']]


    rfm['R-SCORE'] = pd.cut(rfm['R'],bins = [0,30,60,90,120,1000000],labels = [5,4,3,2,1],right = False).astype(float)
    rfm['F-SCORE'] = pd.cut(rfm['F'],bins = [1,2,3,4,5,1000000],labels = [1,2,3,4,5],right = False).astype(float)
    rfm['M-SCORE'] = pd.cut(rfm['M'],bins = [0,50,100,150,200,1000000],labels = [1,2,3,4,5],right = False).astype(float)

    rfm['R是否大于均值'] = (rfm['R-SCORE'] > rfm['R-SCORE'].mean()) * 1
    rfm['F是否大于均值'] = (rfm['F-SCORE'] > rfm['F-SCORE'].mean()) * 1
    rfm['M是否大于均值'] = (rfm['M-SCORE'] > rfm['M-SCORE'].mean()) * 1

    rfm['人群数值'] = (rfm['R是否大于均值'] * 100) + (rfm['F是否大于均值'] * 10) + (rfm['M是否大于均值'] * 1)

    rfm['人群类型'] = rfm['人群数值'].apply(transform_label)

    count = rfm['人群类型'].value_counts().reset_index()
    count.columns = ['客户类型','人数']
    count['人数占比'] = count['人数'] / count['人数'].sum()

    rfm['购买总金额'] = rfm['F'] * rfm['M']
    mon = rfm.groupby('人群类型')['购买总金额'].sum().reset_index()
    mon.columns = ['客户类型','消费金额']
    mon['金额占比'] = mon['消费金额'] / mon['消费金额'].sum()

    result = pd.merge(count,mon,left_on = '客户类型',right_on = '客户类型')

    return result


#判断R/F/M是否大于均值
def transform_label(x):
    if x == 111:
        label = '重要价值客户'
    elif x == 110:
        label = '消费潜力客户'
    elif x == 101:
        label = '频次深耕客户'
    elif x == 100:
        label = '新客户'
    elif x == 11:
        label = '重要价值流失预警客户'
    elif x == 10:
        label = '一般客户'
    elif x == 1:
        label = '高消费唤回客户'
    elif x == 0:
        label = '流失客户'
    return label

In [29]:
res = get_rfm(name = 'PYTHON-RFM实战数据.xlsx')
res

剔除退款后还剩:27793行

         客户类型    人数      人数占比       消费金额      金额占比
0     高消费唤回客户  7338  0.288670  1338153.0  0.381098
1        流失客户  6680  0.262785   444617.0  0.126624
2      频次深耕客户  5427  0.213493   981893.0  0.279638
3         新客户  4224  0.166168   270869.0  0.077142
4      重要价值客户   756  0.029740   269230.0  0.076675
5      消费潜力客户   450  0.017703    64075.0  0.018248
6  重要价值流失预警客户   360  0.014162   116665.0  0.033226
7        一般客户   185  0.007278    25803.0  0.007349