In [1]:
import pyspark
import matplotlib

from pyspark import SparkContext
sc = SparkContext("local", "First App")

In [2]:
rdd = sc.textFile("hdfs://localhost:9000/input_dir/sample.txt")

In [3]:
rdd.count()

5

In [4]:
rdd.take(5)

['1979   23   23   2   43   24   25   26   26   26   26   25   26  25',
 '1980   26   27   28  28   28   30   31   31   31   30   30   30  29',
 '1981   31   32   32  32   33   34   35   36   36   34   34   34  34',
 '1984   39   38   39  39   39   41   42   43   40   39   38   38  40',
 '1985   38   39   39  39   39   41   41   41   00   40   39   39  45']

In [5]:
for xs in rdd.take(100):
    print(xs)

1979   23   23   2   43   24   25   26   26   26   26   25   26  25
1980   26   27   28  28   28   30   31   31   31   30   30   30  29
1981   31   32   32  32   33   34   35   36   36   34   34   34  34
1984   39   38   39  39   39   41   42   43   40   39   38   38  40
1985   38   39   39  39   39   41   41   41   00   40   39   39  45

In [6]:
import numpy as np
a = np.array(rdd.collect())
print(a)

['1979   23   23   2   43   24   25   26   26   26   26   25   26  25'
 '1980   26   27   28  28   28   30   31   31   31   30   30   30  29'
 '1981   31   32   32  32   33   34   35   36   36   34   34   34  34'
 '1984   39   38   39  39   39   41   42   43   40   39   38   38  40'
 '1985   38   39   39  39   39   41   41   41   00   40   39   39  45']